.infoContainerMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.cardInfoContainer{
    width: 450px;
    display: inline-grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
}

.cardInfoLabel{
    color: #7146bd;
    margin-top: 2px;
    margin-bottom: 2px;
}

.cardInfoText{
    margin-top: 2px;
    margin-bottom: 2px;
}

.cardAboutStyle{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;

}