body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  a:hover {
    color: #7146bd;
  }

.navbarMainStyle {
    font-size: 20px;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    height: 60px;
    
}

.navbarAvatarStyle {
    float: right;
    top: 5px;
    min-width: 40px;
}

.mainPartStyle {
    padding-top: 50px;
}

.center{
    text-align: center;
}

.titleTextStyle {
    text-align: center;
    font-size: 6em;
    color: #7146bd;
    margin-top: -80px;
}

.blockText {
    border-radius: 15px;
    background: white;
    margin: 0 5% 0 5%;
    padding: 1px 20px 1px 20px;
    min-width: 500px;
    margin-bottom: 25px;
    display: flex;
}

.text {
    font-size: 20px;
}

.nameStyle {
    float: right;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.mainBlockStyle{
    background-color: white;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px
}

.mainBodyStyle{
    margin: 2vh 20% 2vh 20%;
    min-width: 1000px;
}

@media (max-width: 1900px) {
    .mainBodyStyle {
      min-width: 900px;
      margin: 2vh 15% 2vh 15%;
    }
  }

@media (max-width: 1600px) {
    .mainBodyStyle {
      min-width: 800px;
      margin: 2vh 10% 2vh 10%;
    }
  }

.imageField {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 152px;
    height: 152px;
    border-radius: 15px;
}

.imageField.Drag {
    filter: drop-shadow(0 0 5px #7146bd);
}

.addImageButton{
    width: 100px;
    float: right;
}

.mainBlogStyle{
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    width: 100%;
    display: flex;
}

.ArticlesGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 1vh;
}

.mainCardsStyle{
    background-color: #F5F5F5;
    margin-bottom: 1.5vh;
}

.nullObjectBlockStyle{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    max-width: 30%;
    min-width: 300px;
}

.cardMaterial{
    min-width: 450px;
    min-height: 300px;
    max-width: 1500px;
    max-height: 1200px;
}

.mainCardsStyle:hover {
    box-shadow: 0 4px 8px rgba(113, 70, 189, 0.5);
}

.article-content {
    margin-left: 10px;
    margin-right: 10px;
}

.article-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.finderStyle{
    width: 20%;
    max-width: 200px;
    min-width: 140px;
}

.showBooksStyle{
    min-width: 500px;
    width: 60%;
    display: flex;
}

.shopMainContainer{
    width: 100%;
    min-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    gap: 20px 10px;
    justify-content: center;
}

.shopCardStyle{
    width: 100%;
    max-width: 220px;
    min-width: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}



.name-main-view-style {
    height: auto;
    min-height: 43px;
    margin-block: 5px;
    margin-bottom: 0px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    text-decoration: none;
}

.name-main-view-style:after {
    background: linear-gradient(270deg, #fff 50%, #fff0);
    bottom: 0;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    right: 0;
    width: 24px;
    z-index: 1;
}

.author-main-view-style{
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(180, 180, 180);
}

.prise-main-view-style{
    height: 20px;
    margin-block: 10px;
}

.banner-main-text{
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
}

.banner-link{
    float: right;
    margin-top: -10px;
    color: #987cc7
}

.genreSlider{
    display: flex;
    overflow-x: auto;
    padding-left: 0px;
    min-width: 775px;
}

.genreSliderItem{
    margin-right: 15px;
    width: 250px;
    height: 250px;
    font-size: 38px;
    border-radius: 10px;
    border: none;
    word-break: break-word;
    background-size: 'cover';
    background-position: 'center';
}

.genreSliderItem:hover {
    background-color: rgb(228, 219, 235);
    opacity: 0.8;
  }

.cardInfoStyle {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 10px;
    width: 100%
}

.cardImageStyle {
    max-width: 100%;
    min-width: 150px;
    width: auto;
    object-fit: contain;
}

.buy-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quantity-input-number {
    width: 60px;
    margin-right: 4px;
}

.purchasesMainContainer{
    width: 100%;
    min-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    gap: 20px 10px;
}